<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.events.mapper.EventsAccountMapper">
    
    <resultMap type="EventsAccount" id="EventsAccountResult">
        <result property="accountId"    column="account_id"    />
        <result property="roleId"    column="role_id"    />
        <result property="accountSchool"    column="account_school"    />
        <result property="accountName"    column="account_name"    />
        <result property="accountGroup"    column="account_group"    />
        <result property="accountNick"    column="account_nick"    />
        <result property="accountPassword"    column="account_password"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectEventsAccountVo">
        select account_id ,events_account.role_id,e.role_name as roleName, account_school, account_name, account_group, account_nick, account_password, create_by, create_time, update_by, update_time, remark from events_account left join events_roles e on e.role_id = events_account.role_id
    </sql>

    <select id="selectEventsAccountList" parameterType="EventsAccount" resultMap="EventsAccountResult">
        <include refid="selectEventsAccountVo"/>
        <where>
            <if test="roleId != null "> and events_account.role_id = #{roleId}</if>
            <if test="accountSchool != null  and accountSchool != ''"> and account_school = #{accountSchool}</if>
            <if test="accountGroup != null  and accountGroup != ''"> and account_group = #{accountGroup}</if>
            <if test="accountNick != null  and accountNick != ''"> and account_nick like concat('%',#{accountNick},'%')</if>
        </where>
    </select>
    
    <select id="selectEventsAccountByAccountId" parameterType="Long" resultMap="EventsAccountResult">
        <include refid="selectEventsAccountVo"/>
        where account_id = #{accountId}
    </select>
        

</mapper>